name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 23.x
      - run: npm ci
      - run: npm run build

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 23.x
      - run: npm ci
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 23.x
      - run: npm ci
      - run: npm run test:unit

  acceptance:
    runs-on: ubuntu-latest
    steps:
      - uses: browser-actions/setup-chrome@v2
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 23.x
      - run: npm ci
      - run: docker compose up -d
      - run: sleep 10s
      - run: "npx -y start-server-and-test dev http://localhost:5173 test:acceptance"
      - run: docker compose down
        if: always()